@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

footer {
    background: var(--color-primary);
    width: 100%;
    height: 40vh;
    margin-top: 100px;
    color: var(--color-bg);
}
.footer-logo {
    font-family: "Playwrite IN", serif;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.permalink {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.permalink li a {
    color: var(--color-bg);
    font-weight: 700;
}



.copyright {
    margin: auto;
    width: fit-content;
    padding: 2rem 0;
}

@media (max-width: 600px) {
    footer {
        height: 43vh;
    }
    .permalink {
        width: fit-content;
        text-align: center;
        flex-direction: column;
    }
    .footer-logo {
        padding: 1rem;
    }
}
